<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>MinerC.TL</title>
<% if (htmlWebpackPlugin.options.nodeModules) { %>
<!-- Add `node_modules/` to global paths so `require` works properly in development -->
<script>
    require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
</script>
<% } %>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div filter-color="black" class="full-page register-page">
            <div class="content">
                <div class="main-panel" style="float: none; position: initial; width: 100%;">
                    <div class="content" style="margin-top: 20px;">
                        <div class="">
                            <div id="app"></div>
                            <script>
                                window.$ = window.jQuery = require('jquery')
                                window.Popper = require('popper.js')
                                if (process.env.NODE_ENV !== 'development') {
                                    window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    